{{ define "main" }}
<!-- 头像视差效果 -->
{{ $parallax := resources.Get "js/min/parallax.min.js" }}
{{ $parallax := $parallax | resources.Minify | resources.Fingerprint }}
<script src="{{ $parallax.Permalink }}" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scene = document.getElementById("links-avatar-scene");
    new Parallax(scene, {
      relativeInput: true, // 鼠标相对位置生效
      hoverOnly: true,     // 仅在悬停时生效
      frictionX: 0.02,     // X轴阻尼
      frictionY: 0.02,     // Y轴阻尼
    });
  });
</script>

<div class="mx-auto links_page">
  <main class="mb-8">
    <!-- 上半部分 -->
    <div class="links-upper">
      <div class="links-upper-content">
        <!-- 左半部分 -->
        <div class="links-left">
          <!-- 装备页简介 -->
          <div class="links-intro">
            <h1>🪅剁手墙:</h1>
            <p>
                欢迎来到我的剁手墙！这里展示了我日常使用和特别满意的装备。  
                希望这些分享能帮到你，也期待你找到属于自己的心头好！
            </p>
          </div>
        </div>

        <!-- 右半部分 -->
        <div class="links-right">
          <!-- 博主大头像 -->
          <!-- 最外层容器 -->
          <!-- 最外层容器 -->
          <div class="links-scene-container">
            <!-- 次外层 -->
            <div
              id="links-avatar-scene"
              data-hover-only="true"
              data-relative-input="true"
              data-friction-x="0.02"
              data-friction-y="0.02"
            >
              <!-- 次次外层 -->
              <div
                data-depth="-2"
              >
                <!-- 图片 -->
                <img
                  class="links-avatar-img"
                  src="/pages/goods/macintosh.png"
                  alt="avatar"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 下半部分 -->
    <div class="links-lower">
      <!-- links-banner -->
      <h1>🔨L1nSn0wの剁手墙</h1>
      <!-- links-list -->
      <div class="links-lower-content">
        <div class="links-list">
          {{ range .Site.Data.goods }}
          <!-- 单个友链卡片 -->
          <div class="goods-card">
              <img src="{{ .image }}" alt="{{ .title }}" class="goods-img" />
              <div class="goods-info">
                <h2 class="links-friend-name">{{ .title }}</h2>
                
              </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}

