{{ define "main" }}
<div class="container mx-auto">
  <!-- 添加文章封面图片渲染逻辑 -->
  {{- $coverImage := .Params.image }} <!-- 获取封面图片参数 -->
  {{ if $coverImage }}
  <p class="has-image md">
    <img src="{{ $coverImage }}" loading="lazy" decoding="async" alt="Cover image for {{ .Title }}" class="cover filter-img" >
  </p>
  <br>
  {{ end }}
  <h1 class="text-4xl font-extrabold mt-6 mb-6">{{ .Title }}</h1>

  {{ if .Description }}
  <p class="text-sm" style="color: #9d725c8a"> "{{ .Description | markdownify | safeHTML }} "</p>
  {{ end }}
  
  <div class="mb-6 text-sm flex justify-between ">    
    <div>

      {{ if .Site.Params.displayDate }}
      {{ T "post.at" }} &mdash; {{ .Date | time.Format (T "timeformat") }}
      {{ end }}
      {{ if .Draft }}
      <span class="ml-3 tag">
        DRAFT
      </span>
      {{ end }}
    </div>
    {{ if .Params.tags }}
    <div>
      {{ range $tag := .Params.tags }}
      {{ $url := printf "tags/%s" $tag | relLangURL }}
      <a class="ml-1" href="{{ $url }}">#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <main class="mb-8">
    
    <article class="md">
      {{ .Content }}
    </article>
  </main>
  {{ partial "plugin.html" . }}
</div>
{{ end }}